<h1>Watchlist</h1>
<br>
<h3>Select a list of movies</h3>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
<br>
<%= link_to 'Create New List', new_list_path %>
<br>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("p7uefpuupqd1vgkuaq7t",
      width: 400, height: 300, crop: :fill) %>
<br>
<!-- for face detection -->
<%= cl_image_tag("btdiohtvexj65oghzohy",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
